




<div id="banner">
	<div class="outline"></div>
	
	
	<div class="frame frame1">
		
		<img inline src="../_common/images/<%= width %>x<%= height %>/<%= name %>/bg_1.jpg" class="retina bg1" >
		
		
		<img inline src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t1a.png" class="retina t1a" >
		<img inline src="../_common/images/<%= width %>x<%= height %>/<%= name %>/t1b.png" class="retina t1b" >

		
		
		<% include ./trailingFX %>

		
		
		<div class="bgGrad"></div>
		


	</div>

	<% include ./frame_end %>
	
	
</div>